<div id="overlay" class="overlay">
    <div class="popup rounded-3" id="popup_choose_client_type">
        <h3 class="text-center text-h3 text-primary mb-10">Are you our current client?</h3>
        <div class="d-flex flex-wrap flex-column flex-md-row justify-content-between gap-5">
            <!-- Sign In -->
            <button type="button" id="existingClientBtn" class="w-100 text-body fw-bolder text-white bg-user-primary rounded-3 px-5 py-2 border-1 border-primary">Existing Client</button>
            <button type="button" id="GuestBtn" class="w-100 text-body fw-bolder text-primary rounded-3 border-primary bg-white px-5 py-2">Continue as Guest</button>
            <button type="button" id="cancelBtn" class="w-100 text-body fw-bolder text-white bg-red border-red rounded-3 px-5 py-2">Cancel</button>
        </div>
    </div>
</div>
<section class="max-w-body mx-auto w-100 d-flex flex-column justify-content-start align-items-center gap-20 px-4 py-10">
    <!-- Button Container -->
    <section class="row row-cols-1 row-cols-sm-2 w-100">
        <div class="col mb-3 mb-sm-0 p-0 pe-sm-3">
            <button type="button" id="open_client_type_popup" class="w-100 d-flex flex-row flex-sm-column justify-content-center align-items-center p-3 bg-primary border border-1 border-primary rounded-3">
                <img src="svg/icons/create-appointment.svg" alt="Make Appointment Button" type="image/svg+xml" width="48" height="48">
                <span class="text-body text-white mt-0 mt-sm-2 ms-3 ms-sm-0 mb-0">Make Appointment</span>
            </button>
        </div>
        <div class="col p-0 ps-sm-3">
            <button onclick="loadContent('cancel')" id="cancelAppointmentBtn" type="button" class="w-100 d-flex flex-row flex-sm-column justify-content-center align-items-center p-3 border border-1 border-primary rounded-3 bg-white">
                <img src="svg/icons/cancel-appointment.svg" alt="Cancel Appointment Button" type="image/svg+xml" width="48" height="48">
                <span class="text-body text-primary mt-0 mt-sm-2 ms-3 ms-sm-0 mb-0">Cancel Appointment</span>
            </button>
        </div>
    </section>
    <section class="overflow-auto-y">
        <p class="text-body">Dear Valued Clients,
            <br><br>
            Thank you for choosing our Vet Clinic for your pet's healthcare needs! Before booking your appointment, please take a moment to review our policies to ensure a smooth and enjoyable visit. To provide the best care possible, we kindly ask that you bring your pet's medical records and arrive 10 minutes early. Cancellations or rescheduling should be done at least 24 hours in advance to avoid a late fee. If you have any questions or need assistance, our friendly staff is here to help. Feel free to contact us at (555) 123-4567 or email us at info@vetclinic.com. We look forward to seeing you and your furry friends soon!
            <br><br>
            Warm regards,
            <br><br>The Vet Clinic Team
        </p>
        <p class="text-body">Dear Valued Clients,
            <br><br>
            Thank you for choosing our Vet Clinic for your pet's healthcare needs! Before booking your appointment, please take a moment to review our policies to ensure a smooth and enjoyable visit. To provide the best care possible, we kindly ask that you bring your pet's medical records and arrive 10 minutes early. Cancellations or rescheduling should be done at least 24 hours in advance to avoid a late fee. If you have any questions or need assistance, our friendly staff is here to help. Feel free to contact us at (555) 123-4567 or email us at info@vetclinic.com. We look forward to seeing you and your furry friends soon!
            <br><br>
            Warm regards,
            <br><br>The Vet Clinic Team
        </p>
        <p class="text-body">Dear Valued Clients,
            <br><br>
            Thank you for choosing our Vet Clinic for your pet's healthcare needs! Before booking your appointment, please take a moment to review our policies to ensure a smooth and enjoyable visit. To provide the best care possible, we kindly ask that you bring your pet's medical records and arrive 10 minutes early. Cancellations or rescheduling should be done at least 24 hours in advance to avoid a late fee. If you have any questions or need assistance, our friendly staff is here to help. Feel free to contact us at (555) 123-4567 or email us at info@vetclinic.com. We look forward to seeing you and your furry friends soon!
            <br><br>
            Warm regards,
            <br><br>The Vet Clinic Team
        </p>
    </section>
</section>