<!-- select_service.html -->

<!-- Page Body -->
<section class="max-w-body w-100 mx-auto d-flex flex-column justify-content-start gap-5 px-4 py-7">
    <h3 class="text-h3 text-gray-400 opacity-25">Welcome, we hope you are doing well!</h3>
    <div>
        <!-- Choose Service & Prefer Date -->
        <form method="GET" action="/search_service_available_time" onsubmit="searchServiceAvailableTime(event);">
            <div class="row align-items-end px-0">
                <div class="col-12 col-md-5 service-option d-flex flex-column gap-3 mb-10 mb-md-0">
                    <h2 class="text-h2" style="width: fit-content;">Service</h2>
                    <select name="service" id="service" class="flex-grow-1 text-body py-3 px-3 rounded-3 border-2" style="height: 41px;">
                        <option value="" class="text-body" disabled selected hidden>Select a service</option>
                        <!-- Clinic Service will be append in here -->
                    </select>
                </div>
                <div class="col-12 col-md-5 d-flex flex-column gap-3 mb-10 mb-md-0">
                    <h2 class="text-h2" style="width: fit-content;">Prefer Date</h2>
                    <input type="date" id="prefer-date" name="prefer-date" class="text-body py-2 px-3 rounded-3">
                </div>
                <div class="col-12 col-md-2 mb-10 mb-md-0">
                    <button id="search-service" type="submit" class="w-100 align-items-center justify-content-center text-body text-white bg-primary border-primary fw-bold px-3 py-2 rounded-3" style="height: 41px;">
                        <img src="svg/icons/search.svg" alt="Search Icon" class="me-1" width="20" height="20">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <form action="/proceed-appointment-request" name="Proceed Appointment Request" method="POST" onsubmit="proceedAppointmentRequest(); return false;">
            <!-- Book Service Day -->
            <section class="service-time mt-10 mb-10">
                <div class="d-grid gap-3 mb-5" style="grid-template-columns: 84px auto 84px;">
                    <!-- Previous Day Button -->
                    <button id="previous-day" type="button" class="d-flex align-items-center justify-content-center text-primary bg-white border-primary px-3 py-2 rounded-3" style="width: 84px;">
                        <img src="svg/icons/left-arrow.svg" alt="Left Arrow" class="me-1">
                        Before
                    </button>
                    <!-- Day Selection Container -->
                    <div id="day-selection" class="hide-scrollbar d-inline-flex overflow-x-auto gap-2"></div>
                    <!-- Next Day Button -->
                    <button id="next-day" type="button" class="d-flex align-items-center justify-content-center text-primary bg-white border-primary px-3 py-2 rounded-3" style="width: 84px;">
                        After
                        <img src="svg/icons/right-arrow.svg" alt="Left Arrow" class="ms-1">
                    </button>
                </div>
                <!-- Book Service Time -->
                <section class="rounded-3 bg-white shadow p-5 p-sm-8">
                    <div class="d-flex flex-column flex-sm-row justify-content-between gap-8">
                        <!-- Choosen Date -->
                        <span class="text-h3 fw-bold d-flex align-items-center justify-content-md-center gap-2">
                            <img src="svg/icons/calendar.svg" alt="Calendar Icon">
                            <span id="selected-day"></span>
                        </span>
                        <!-- Staff & Room Selection -->
                        <div class="w-100 row" style="max-width: 540px">
                            <div class="col-12 col-sm-6 d-inline-flex flex-column flex-md-row align-items-md-center gap-3 mb-5 mb-sm-0">
                                <p class="fw-bold text-body" style="width: 50px">Room</p>
                                <select name="appointment-room" id="appointment-room" class="w-100 text-body py-3 px-3 rounded-3 border-2" style="height: 41px;">
                                    <option value="" class="text-body" disabled selected hidden>Appointment Room</option>
                                    <!-- Available Room will be append in here -->
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 d-inline-flex flex-column flex-md-row align-items-md-center gap-3">
                                <p class="fw-bold text-body" style="width: 50px">Staff</p>
                                <select name="appointment-staff" id="appointment-staff" class="w-100 text-body py-3 px-3 rounded-3 border-2" style="height: 41px;">
                                    <option value="" class="text-body" disabled selected hidden>Appointment Staff</option>
                                    <!-- Available Staff will be append in here -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Appointment Time Selection -->
                    <div class="mt-8">
                        <!-- Morning Session -->
                        <div class="d-grid gap-10 mb-5" style="grid-template-columns: 80px auto;">
                            <p class="fw-bold text-body">Morning</p>
                            <div id="morning-session" class="d-grid gap-3" style="grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); box-sizing: border-box;"></div>
                        </div>
                        <!-- Afternoon Session -->
                        <div class="d-grid gap-10" style="grid-template-columns: 80px auto;">
                            <p class="fw-bold text-body">Afternoon</p>
                            <div id="afternoon-session" class="d-grid gap-3" style="grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); box-sizing: border-box;"></div>
                        </div>
                    </div>
                </section>
            </section>
            <button id="request-appointment-booking" type="submit" class="w-100 align-items-center justify-content-center text-h3 text-white bg-primary border-primary px-3 py-2 rounded-3">
                <img src="svg/icons/arrow.svg" alt="Arrow Icon" class="me-3" width="20" height="20">
                Continue
            </button>
        </form>
    </div>
</section>